.cancel_title{

    padding: 0 1em 1.5em;
    margin: 5em 0 3em;
}

.cancel_title h1{

    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 4em;
    color: white;
    text-transform: uppercase;
}

.table_title{

    color: #032133;
}

.cancel_search_container{

    background-color: white;
    padding: 1.8em;
    border-radius: 30px;
    margin-top: 2.1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.journey_ticket_info_wrapper{

    width: 50%;
}

.ticket_details_container{

    border-top: 1px dashed #999;
    padding: 0;
    display: flex;
    padding-top: 2em;
    justify-content: space-between;
}

.journey_ticket_info_table{

    text-align: center;
    color: #032133;
}

.journey_ticket_info_table td,
.journey_ticket_info_table th{

    vertical-align: middle;
}