@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,700;1,800;1,900&display=swap');

*, *::before, *::after{

    box-sizing: border-box;
}

:root {
    
    --header-text-color: white;
}

html {
    
    overflow-x: hidden;
}

section {
    min-height: 100vh;
    width: 100vw;
}

body{

    margin: 0;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    position: relative;
    width: 100vw;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    
    background: #888; 
    border-radius: 100px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

header{

    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 4vw;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span{

    background: white;
}

#fp-nav ul{

    position: absolute;
    top: 0;
   right: 90% !important;
}

.fp-slidesNav.fp-bottom{

    display: flex;
    align-items: center;
    justify-content: center;
}

#fp-nav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li a.active span, 
.fp-slidesNav ul li:hover a.active span {

    background: white;
}

.section{

    display: flex;
    justify-content: center;
    align-items: center;
}

.slide{

    display: flex;
}

#logo{

    min-width: 13vh;
    margin-top: 1em;
    margin-left: 2em;
    fill: var(--header-text-color);
    cursor: pointer;
}

.logo_hover_line{

    fill:none;
    stroke: var(--header-text-color);
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:12px;
    stroke-dasharray: 900;
    stroke-dashoffset: 900;
}

#logo:hover{

    fill: var(--header-text-color);
}

#logo:hover polyline{

    stroke: var(--header-text-color);
    animation: animate_logo 0.6s linear forwards;
}

.logo_hover_out_line{

    fill:none;
    stroke: var(--header-text-color);
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:12px;
    stroke-dasharray: 900;
    stroke-dashoffset: 900;
    animation: animate_logo_reverse 0.6s linear forwards;
}

@keyframes animate_logo{

    from{
        stroke-dashoffset: 900;
    }
    to{
        stroke-dashoffset: 0;
    }
    
}

@keyframes animate_logo_reverse{

    0%{
        stroke-dashoffset: 0;
    }
    50%{
        stroke-dashoffset: 450;
    }
    100%{
        stroke-dashoffset: 900;
    }
    
}

#nav_toggle_btn{

    position: relative;
    width: 50px;
    height: 50px;
    background: #1d3548;
    border-radius: 10px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

#nav_toggle_btn::before{

    content: '';
    position: absolute;
    width: 60%;
    height: 4px;
    background-color: var(--header-text-color);
    border-radius: 100px;
    transition: 0.2s;
    transform: translateY(-10px);
    box-shadow: 0 10px 0 var(--header-text-color);
}

#nav_toggle_btn::after{

    content: '';
    position: absolute;
    width: 60%;
    height: 4px;
    background-color: var(--header-text-color);
    border-radius: 100px;
    transition: 0.2s;
    transform: translateY(10px);
}

#nav_toggle_btn.toggle_active::before{

    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 var(--header-text-color);
}

#nav_toggle_btn.toggle_active::after{

    transform: translateY(0px) rotate(-45deg);
}

.nav_menu{

    display: flex;
    margin: 0 2em 0 0;
}

.nav_items{

    list-style: none;
}

.nav_items + .nav_items{

    margin-left: 2em;
}

.nav_item_sign_up a{

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    color: var(--header-text-color); 
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px; 
    position: relative;
    width: 100%; 
}

.nav_link{

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    color: var(--header-text-color); 
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px; 
    position: relative;
    width: 100%; 
}

.nav_link:hover,
.nav_link:active {

    transition: all 280ms ease-in-out;
    letter-spacing: 5px;
    color: var(--header-text-color);
}

.nav_link::after,
.nav_link::before {

    content: '';
    backface-visibility: hidden;
    bottom: 0px;
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0%;
    height: 3px;
    background-color: var(--header-text-color);
}

.nav_link:hover::after,
.nav_link:hover::before {
   
    transition: width 350ms ease-in-out;
    width: 70%;
}

.nav_link:hover:before {

    bottom: auto;
    top: 0;
    width: 70%;
}  

#nav_link_btn{

    color: #032133;
    transform-origin: center;
}

#nav_btn_bg{

    padding: 0.1em 1.5em;
    border-radius: 100px;
    background: var(--header-text-color);
    cursor: pointer;
}

#nav_btn_bg:hover{

    text-align: center;
    border: 2px solid var(--header-text-color);
    transition: all 280ms ease-in-out;
    background-color: transparent;
}

#nav_btn_bg:hover #nav_link_btn{

    color: white;
    letter-spacing: 5px;
}

#home{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
}

.video_bg{

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero_title h1{

    color: white;
    font-size: 8vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    max-height: 2vh;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
}

.title_1,
.title_2 {
    position: absolute;
    z-index: 10;
    display: block;
    top: 30%; 
    width: 90%;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.title_1{
	animation-name: anim-1;
}

.title_2{
	animation-name: anim-2;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
    8.3%,25% { left: 5%; opacity: 1; }
    33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 5%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

#about_us,
#destinations{

    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about_us,
#testimonials,
#contact_us{

    background-color: #fe5e4a;
}

#destinations,
#developers,
#call_to_action{

    background-color: #119ae8;
}

#call_to_action{

    z-index: -5;
    
}

.action_content{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.action_title{

    text-align: center;
    color: white;
    font-size: 5vw;
    font-weight: 300;
    line-height: 1.3em;
}

#action_btn{

    position: relative;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 1em;
    border: 2px solid white;
    height: 150px;
    width: 150px;
    line-height: 150px;
    border-radius: 50%;
    margin-top: 4em;
    text-transform: uppercase;
}

#action_btn::after{

    content: '';
    position: absolute;
    width: 3300px;
    height: 3300px;
    border-radius: 50%;
    background-color: #032133;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
}

#action_btn:hover:after,
#action_btn:focus-within:after{

    width: 150px;
    height: 150px;
}

#action_btn:hover{

    color: white;
}

#footer{

    background-color: #1d3548;
    min-height: 200px;
}

.footer_container{

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_content{

    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.footer_title{

    text-align: center;
    color: white;
    font-size: 20px;
}

.social_title p{

    color: white;
    font-size: 20px;
    padding-top: 0;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}

.title_top{

    position: absolute;
    top: 12vh;
    left: 2%;
}

.title_top h1{

    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 5vw;
    color: white;
}

@media(max-width: 1237px){

    header{

        flex-direction: column;
    }

    #logo{

        margin-left: 0;
    }

    .nav_menu{

       display: none;
    }

    .nav_visible{

        display: block;
        
    }

    .nav_items{

        text-align: center;
    }

    .nav_items + .nav_items{

        margin-left: 0;
    }

    #nav_toggle_btn{

        display: flex;
        position: absolute;
        right: 2em;
        top: .75em;
    }

    .hero_title h1{

        font-size: 10vw; 
    }

    .title_1,
    .title_2 {
    
        top: 40%; 
        
    }

    .title_top{

        top: 8%;
    }
}


@media(max-width: 600px){

    #nav_toggle_btn{

        display: flex;
        position: absolute;
        right: 1em;
        top: .75em;
        height: 40px;
        width: 40px;
    }
}

@media(max-width: 1000px){

    .title_top h1{

        font-size: 40px;
    }

    .action_title{

        font-size: 25px;
    }

    .footer_content{

        display: flex;
        width: 80%;
        justify-content: space-between;
        align-items: center;
    }
}

@media(max-width: 750px){

    .footer_content{

        flex-direction: column;
    }
}