h1{

    font-weight: 600;
}

header{

    background-color: rgba(0, 0, 0, 0.25);
}

body{

    background-color: #119ae8;
}

main{

    margin-bottom: 3em;
}

button i{

    margin-right: 0;
    font-size: 25px;
}

svg#main_svg{

    display: none;
}

.seat_indication{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.seat_indication p{

    margin: 0;
    font-size: 15px;
    color: #032133;
}

.available_indicator{

    color: #032133;
}

.selected_indicator{

    color: green;
}

.booked_indicator{

    color: orange;
}

.sold_indicator{

    color: red;
}

.table{

    margin: 0;
}

.wrapper_50{

    width: 50%;
}

.wrapper_33{

    width: calc(50% - 35px);
}

.modify_search_container{

    background-color: white;
    width: 100%;
    margin-top: 15vh;
    margin-bottom: 3em;
    padding: 50px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modify_search_box_container{

    background-color: white;
    width: 100%;
    margin-top: 15vh;
    margin-bottom: 3em;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modify_title{

    font-size: 0.85em;
    color: #aaa;
    margin: 0;
}

.departure_wrapper + .departure_wrapper{

    margin-top: 2em;
}

.bus_icon{

    height: 40px;
    width: 60px;
    fill: #aaa;
}

.filter_icon_wrapper{

    display: flex;
    align-items: center;
}

.filter_icon{

    height: 30px;
    width: 30px;
}

.filter_text{

    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.bus_icon.departure{

    transform: rotateY(180deg);
}

.from_to{

    font-weight: 600;
    color: #aaa;
}

.travel_date{

    font-weight: 300;
    color: #aaa;
}

.selected{

    color: #032133;
    fill: #032133;
}

.button_wrapper{

    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button{

    padding: 0.9em 1.2em;
    background-color: #119ae8;
    color: white;
    font-weight: 600;
    border-radius: 100px;
    max-height: 100px;
    border: 5px solid transparent;
    transition: 0.3s ease-in-out;
}

.button:hover{

    color: #119ae8;
    background-color: transparent;
    border-color: #119ae8;
    letter-spacing: 5px;
}

.button i{

    margin-right: 10px;
}

.add_return_btn_wrapper{

    display: flex;
    justify-content: center;
    align-items: center;
}

.button.add_return_btn{

    font-size: 0.8em;
    margin-top: 1.35em;
}

#form{

    width: 100%;
    margin: 0;
}

.button.btn-danger{

    max-width: 100px;
    font-size: 0.7em;
    padding: 0.5em 0.2em;
    margin-top: 2em;
}

.filter_container{

    background-color: white;
    border-radius: 30px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.coach_filter_wrapper{

    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trip_time_wrapper{

    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coach_btn + .coach_btn{

    margin-left: 10px;
}

.coach_btn{

    background-color: #119ae8;
    color: white;
    font-size: 12px;
    width: 60px;
    border: 2px solid transparent;
    min-height: 60px;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
}

.coach_btn:hover{

    border-color: #119ae8;
    color: #119ae8;
    background-color: transparent;
    font-weight: 600;
}

.search_results_container{

    margin-top: 3em;
}

.result_container{

    background-color: white;
    border-radius: 30px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: height 3s ease-in-out;
}

.result_container + .result_container{

    margin-top: 1em;
} 

.origin_destination_wrapper{

    display: flex;
    align-items: center;
}

.destination_short{

    margin: 0;
    line-height: 1;
    color: #032133;
    text-align: center;
}

.destination_full{

    margin: 0;
    color: #032133;
    text-align: center;
    font-size: 19px;
    font-weight: 300;
}

.trip_icon{

    width: 70px;
    height: 70px;
    padding: 10px;
    transform: rotate(90deg);
}

.result_title{

    text-align: center;
    margin-bottom: 0;
    margin-top: 0.5em;
    color: #032133;
    font-weight: 300;
}

.result_data{

    color: #032133;
    font-size: 1.1em;
    text-align: center;
}

.departure_type_container{

    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.fare_container{

    margin-bottom: 1.5em;
}

.seat_map_container{

    border-top: 1px dashed #999;
}

.seat_wrapper_ac_dd_upper .seat_map_container{

    border-top: none;
}

.coach_info_details{

    padding: 2em 0 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px dashed #999;
    transform-origin: top;
}

.coach_info_details.view_seat_mode{

    animation: view_seats_anim 0.3s ease-in-out forwards;
}


@keyframes view_seats_anim{

    from{

        transform: scaleY(0);
    }

    to{

        transform: scaleY(1);
    }
}

.seat_wrapper_non_ac,
.seat_wrapper_ac_multi,
.seat_wrapper_ac_bi,
.seat_wrapper_ac_sleeper_upper,
.seat_wrapper_ac_sleeper_lower,
.seat_wrapper_ac_dd_lower,
.seat_wrapper_ac_dd_upper{

    background-color: white;
    width: fit-content;
    height: fit-content;
    border-radius: 30px;
    border: 4px solid #032133;
}

.seat_container_non_ac,
.seat_container_ac{

    margin-top: 5px;
    padding: 0 10px;
    display: flex;
}

.seat_container_non_ac:last-child,
.seat_container_ac:last-child{

    padding-bottom: 10px;
}

.non_ac_seat{

    height: 60px;
    width: 60px;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.ac_seat{

    height: 60px;
    width: 60px;
    margin: 0 5px;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.sleeper_seat{

    height: 80px;
    width: 80px;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.non_ac_seat.selected .seat,
.ac_seat.selected .seat,
.sleeper_seat.selected .seat{

    fill: green;
}

.non_ac_seat.selected .seat_label,
.ac_seat.selected .seat_label,
.sleeper_seat.selected .seat_label{

    color: green;
}

.non_ac_seat:hover,
.ac_seat:hover,
.sleeper_seat:hover{

    transform: scale(1.2);
}

.non_ac_seat.blank{

    cursor: default;
}

.ac_seat.blank{

    cursor: default;
}

.steering_icon{

    height: 50px;
    width: 50px;
}

.door_icon{

    height: 50px;
    width: 50px;
    transform: rotateX(180deg); 
}

.seat_label{

    transform: rotate(-90deg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 15px;
}

.seat{

    fill: #032133;
    transform: rotate(90deg);
}

.steering{

    fill: #032133;
}

.driver_container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 10px 2em 5px;
}

.seat_wrapper_ac_sleeper.upper_deck .driver_container{

    visibility: hidden;
}

.driver_container.ac{

    margin-right: 5px;
}

.driver_text{

    color: #032133;
    line-height: 1;
    font-size: 15px;
    border: 2px solid #032133;
    border-radius: 10px;
    margin-top: 0.5em;
    padding: 0.15em 0;
    text-align: center;
}

.coach_details_container{

    width: 65%;
    position: relative;
}

.coach_details_table{

    width: 100%;
}

.details_title{

    font-size: 25px;
    color: #032133;
    font-weight: 300;
    text-align: right;
}

.details_data{

    font-size: 25px;
    color: #032133;
    font-weight: 600;
}

.blank_table_cell{

    width: 5%;
}

.boarding_point_container{

    margin-left: 2em;
}

.form-input-boarding{

    width: 100%;
    padding: 0.5em 1.2em 0.5em 3.6em;
    font-size: 1.22rem;
    border-radius: 5em;
    background-color: var(--bc-gray);
    border: 3px solid var(--bc-gray);
    cursor: pointer;
    transition: border .15s ease-in-out;
}

.form-input-boarding:hover {
    border: 3px solid var(--primary);
}

.boarding-text-required{

    margin: 0 1em 0.25em;
    color: var(--gray-dark);
    font-weight: 300;
    position: relative;
}

.boarding-text-required::after{

    content: '*';
    color: red;
    position: absolute;
}

.boarding_point_selector:after{
    
    content: '\f107';
    font-family: 'FontAwesome';
    position: absolute;
    right: 20px;
    top: 18%;
    z-index: 1;
    text-align: center;
    line-height: 100%;
    pointer-events: none;
    font-size: 2em;
    cursor: pointer;
}

.seat_details_table{

    width: 100%;
}

.seat_details_table .details_title_table,
.seat_details_table .details_data{

    text-align: center;
    font-size: 25px;
    color: #032133;
    font-weight: 300;
}

.details_title.total{

    text-align: left;
    padding-left: 1.8em;
}

.trip_details_title{

    text-align: center;
    width: 100%;
    margin: 0.5em 0;
    font-weight: 200;
}

.seat_details_container{

    border: 4px dashed #999;
    border-radius: 30px;
    margin-left: 2em;
}

.seat_details_table th{

    color: #032133;
    text-align: center;
}

.boarding-text{

    margin-left: 10px;
    color: #032133;
}

.continue_btn_container{

    margin: 1em 0 0 2em;
}

@media (min-width: 760px){

    .modify_search_container{

        display: flex;
        flex-direction: row;
        padding: 0;
    }

    .departure_wrapper + .departure_wrapper,
    .button_wrapper{

        margin-top: 0; 
        border-left: 1px dashed #999;
    }

    .button.add_return_btn{

        font-size: 0.6em;
    }

    .departure_wrapper,
    .button_wrapper{

        width: 33.33%;
        margin-top: 0;
        padding: 30px;
    }

    .button{

        padding: 0.9em 0.5em; 
        font-size: 0.7em;
    }

    .from_to,
    .travel_date{

        font-size: 0.8em;
    }

}

@media (max-width: 1022px){

    .result_wrapper{

        padding-bottom: 2em;
    }

    .sleeper_seat,
    .non_ac_seat,
    .ac_seat{

        height: 50px;
        width: 50px;
    }

    .seat_label{

        font-size: 12px;
    }

    .coach_info_details{

        flex-direction: column-reverse;
    }

    .coach_details_container{

        width: 80%;
    }

    .seat_details_container,
    .boarding_point_container,
    .continue_btn_container{

        margin: 0;
    }

    .continue_btn_container,
    .seat_details_container{

        margin-top: 1em;
    }

    .details_title,
    .details_data,
    .boarding-text-required,
    .form-input-boarding,
    .table-striped th,
    .seat_details_table .details_data,
    .seat_details_table .details_title_table{

        font-size: 18px;
    }
}

@media (max-width: 760px){

    .modify_search_container{

        padding: 30px;
    }

    .button{

        font-size: 1em;
    }

    .button.add_return_btn{

        font-size: 0.8em;
    }

    .coach_details_container{

        width: 90%;
    }

    .details_title,
    .details_data,
    .boarding-text-required,
    .form-input-boarding,
    .table-striped th,
    .seat_details_table .details_data,
    .seat_details_table .details_title_table{

        font-size: 15px;
    }

}


@media (max-width: 385px){

    .sleeper_seat{

        height: 60px;
        width: 60px;
    }

    .modify_search_container{

        padding: 30px;
    }

    .button,
    .button.add_return_btn{

        font-size: 0.55em;
    }

    .coach_details_container{

        width: 95%;
    }

    .details_title,
    .details_data,
    .boarding-text-required,
    .form-input-boarding,
    .table-striped th,
    .seat_details_table .details_data,
    .seat_details_table .details_title_table{

        font-size: 13px;
    }

    .form-input-wrapper i  {

        left: 0.35em;
    }

    td {

        word-wrap: break-word;        
        overflow-wrap: break-word; 
    }
}

@media (max-width: 300px){

    .sleeper_seat,
    .non_ac_seat,
    .ac_seat{

        height: 40px;
        width: 40px;
    }

    .seat_label{

        font-size: 10px;
    }

    .modify_search_container{

        padding: 40px;
    }

    .button,
    .button.add_return_btn{

        font-size: 0.55em;
    }

    .from_to,
    .travel_date{

        font-size: 0.8em;
    }

    .coach_btn{

        font-size: 8px;
    }

    .destination_short,
    .result_data{

        font-size: 0.95em;
    }

    .destination_full,
    .result_title{

        font-size: 0.7em;
    }

}

@media (min-width: 1022px){

    .coach_info_details{

        justify-content: space-between;
        padding-right: 2em;
    }

    #form{

        display: flex;
        flex-direction: row;
        padding: 0;
    }

    .from_to_wrapper,
    .date_wrapper,
    .search_btn_wrapper{

        width: 33.33%;
        padding: 1em;
        padding-bottom: 1.5em;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .date_wrapper{

        border-left: 1px dashed #999;
        border-right: 1px dashed #999;
    }

    .departure_wrapper + .departure_wrapper{

        margin-top: 0; 
    }

    .departure_wrapper,
    .button_wrapper{

        padding: 35px;
    }

    .button{

        padding: 0.9em 0.5em; 
        font-size: 1em;
    }

    .button.add_return_btn{

        font-size: 0.8em;
    }

    .from_to,
    .travel_date{

        font-size: 1.2em;
    }

    .filter_text{

        display: none;
    }

    .filter_icon_wrapper{

        margin-right: 30px;
    }

    .filter_container{

        padding: 0;
    }

    .filter_container,
    .coach_filter{

        display: flex;
        justify-content: space-evenly;
    }

    .coach_filter_wrapper,
    .trip_time_wrapper{

        margin-top: 0;
    }

    .coach_filter{

        width: 50%;
        padding: 30px;
    }

    .trip_time_filter{

        width: 50%;
        padding: 30px;
        border-left: 1px dashed #999;
    }

    .origin_destination_wrapper{

        flex-direction: column;
    }

    .result_wrapper{

        display: flex;
        padding: 0;
    }

    .result_container{

        padding: 0;
    }

    .origin_destination_wrapper,
    .coach_no_container,
    .departure_type_container,
    .seat_fare_wrapper,
    .view_seats_btn_container{

        width: 20%;
        padding: 30px 20px;
    }

    .coach_no_container,
    .departure_type_container,
    .seat_fare_wrapper,
    .view_seats_btn_container{

        border-left: 1px dashed #999;
    }

    .coach_no_container,
    .view_seats_btn_container{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .result_data,
    .result_title{

        margin: 0;
    }

    .departure_type_container{

        flex-direction: column;
        align-items: center;
    }

    .wrapper_33,
    .wrapper_50{

        width: 100%;
    }

    .trip_icon.wrapper_33{

        width: 70px;
        transform: rotate(180deg);
    }

    .seat_fare_wrapper{

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .fare_container{

        margin: 0;
    }

    #view_seats_btn{

        font-size: 0.8em;
    }
}

@media (min-width: 1400px){

    .modify_search_container{

        display: flex;
    }

    .departure_wrapper + .departure_wrapper{

        margin-top: 0; 
    }

    .departure_wrapper,
    .button_wrapper{

        padding: 50px;
    }

    .button{

        padding: 0.9em 0.8em; 
        font-size: 1em;
    }

    .from_to,
    .travel_date{

        font-size: 1.5em;
    }

    .result_data{

        font-size: 1.3em;
    }
}